{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace fpc=T3\FluidPageCache\ViewHelpers}

<f:if condition="!{id}">
    <f:then>
        <em>Please select a page in page tree!</em>
    </f:then>
    <f:else>
        <div class="pull-right">
            <small style="margin-right: 1em;">Now: <f:format.date format="Y-m-d H:i:s">{now}</f:format.date></small>
            <a href="javascript:location.reload()" class="btn btn-default btn-sm"><i class="fa fa-refresh text-success"></i> Refresh</a>

            <f:be.pageInfo />
        </div>

        <h1><img src="{f:uri.resource(path:'Icons/ext_icon_32.png', extensionName:'FluidPageCache')}" alt="Fluid Page Cache Info Extension Icon">
            Fluid Page Cache Info
            <f:if condition="{identifiers -> f:count()} > 0"><span class="badge badge-success" title="{identifiers -> f:count()} page variation(s) found">{identifiers -> f:count()}</span></f:if>
        </h1>

        <f:if condition="{cacheExistsInDatabase}">
            <f:then>
                <f:if condition="{identifiers -> f:count()} == 0">
                    <f:then>
                        <em>This page has not been cached yet.</em>
                    </f:then>
                    <f:else>
                        <f:for each="{identifiers}" key="identifier" as="cache">
                            <fieldset style="margin-bottom: 3rem;">
                                <legend style="font-size: 1.2em;">
                                    <core:iconForRecord table="pages" row="{pageRow}" />
                                    Page variation "{identifier}"
                                    <small class="text-danger">
                                        (Expires: <f:format.date format="Y-m-d H:i:s">{cache.expires}</f:format.date>)
                                    </small>
                                </legend>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Record</th>
                                        <th>Identifier <span class="badge badge-info">{cache.tags -> f:count()}</span></th>
                                        <th>Table</th>
                                        <th>Uid</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <f:for each="{cache.tags}" as="tag">
                                        <tr>
                                            <td>
                                                <f:if condition="{tag.row}">
                                                    <f:then>
                                                        <a title="Edit this record"
                                                           href="{fpc:be.moduleLink(module:'record_edit', parameter:'edit[{tag.table}][{tag.uid}]=edit&returnUrl={fpc:be.thisUrl(showHost:\'0\', urlencode:\'1\')}')}"
                                                        >
                                                            <core:iconForRecord table="{tag.table}" row="{tag.row}" />
                                                            {tag.title}
                                                        </a>
                                                    </f:then>
                                                    <f:else>
                                                        -
                                                    </f:else>
                                                </f:if>
                                            </td>
                                            <td>
                                                <f:if condition="{tag.table}">
                                                    <f:then><code>{tag.tag}</code></f:then>
                                                    <f:else><code class="text-warning">{tag.tag}</code></f:else>
                                                </f:if>
                                            </td>
                                            <td>{tag.table}</td>
                                            <td>{tag.uid}</td>
                                        </tr>
                                    </f:for>
                                    </tbody>
                                </table>


                            </fieldset>
                        </f:for>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <p><em class="text-danger">This info module is only supported, when the page cache is stored in a database connection.</em></p>
                <p><em class="text-danger">Tables "cf_cache_pages" and/or "cf_cache_pages_tags" not found.</em></p>
            </f:else>
        </f:if>
    </f:else>
</f:if>
